:root {
  --color-primary: #bb945f;
  --color-black: #000;
  --color-dark-grey: #0c0c0e;
  --color-grey: #8e8e8e;
  --color-white: #fff;

  --width-desktop: 144rem; // 1440px
  --width-small-desktop: 102.4rem; // 1024px
  --width-tablet: 76.8rem; // 768px

  --width-book: 55rem;
  --height-book: 55.5rem;

  --width-library-card-form: 60rem;

  --width-carousel-img: 45rem;
  --height-carousel-img: 56rem;

  --carousel-position: 0;
  --animation-position-from: 0;
  --animation-position-to: 0;
}
