.carousel {
  align-self: center;

  display: grid;
  grid-template: repeat(2, auto) / repeat(3, auto);
  gap: 3.5rem 5.8rem;

  &__window {
    width: 140rem;
    overflow: hidden;

    @include respond(desktop) {
      width: var(--width-carousel-img);
    }
  }

  &__images {
    display: grid;
    grid-auto-columns: var(--width-carousel-img);
    grid-template-rows: var(--height-carousel-img);
    grid-auto-flow: column;
    gap: 2.5rem;

    animation: 0.5s ease-in-out;
    transform: translateX(var(--carousel-position));
  }

  &__carret {
    background: none;
    border: none;
    cursor: pointer;
    grid-row: 1 / -1;

    &--left {
      grid-column: 1;
    }

    &--right {
      grid-column: 3;
    }
  }

  &__carret-icon {
    display: none;
    @include respond(desktop) {
      display: block;
    }
  }

  &__img {
    width: var(--width-carousel-img);
    height: var(--height-carousel-img);
    object-fit: cover;
  }

  &__pagination {
    justify-self: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }

  &__btn {
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    background: none;
    cursor: pointer;

    &:nth-child(n + 4) {
      display: none;
    }

    @include respond(desktop) {
      &:nth-child(n + 4) {
        display: block;
      }
    }
  }

  &__circle {
    width: 1.6rem;
    height: 1.6rem;
    background: var(--color-dark-grey);
    border-radius: 50%;
    margin: 0 auto;

    transition: background 0.5s;

    &--active {
      background: var(--color-primary);
    }
  }
}

.move-to {
  animation-name: move;
}

@keyframes move {
  from {
    transform: translateX(var(--animation-position-from));
  }
  to {
    transform: translateX(var(--animation-position-to));
  }
}
