.modal-form-auth {
  width: 25rem;
  padding: 2rem 2.5rem;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    color: var(--color-black);
    text-align: center;
    font-family: 'Forum', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__alternative,
  &__alternativ-link:link,
  &__alternativ-link:visited {
    color: var(--color-black);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
  }

  &__alternative {
    font-weight: 400;
  }

  &__alternativ-link:link,
  &__alternativ-link:visited {
    font-weight: 700;
    margin-left: 1rem;
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &--show &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
