.modal-form {
  &__label,
  &__input {
    color: var(--color-black);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.3px;
  }

  &__input {
    border: 1px solid #bb945f;
    height: 2rem;
    width: 20rem;
    &:focus {
      outline: none;
    }
  }

  &__submit-btn {
    margin-top: 1rem;
  }
}
