.profile-menu {
  background: var(--color-white);
  position: absolute;
  right: 0;
  width: 8rem;
  padding: 0.5rem 0 2rem 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  cursor: auto;
  pointer-events: none;

  &--hidden {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }

  &__item,
  &__header-item {
    color: var(--color-black);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &__item {
    font-weight: 400;
    cursor: pointer;
    pointer-events: auto;
  }

  &__header-item {
    font-weight: 700;
    position: relative;

    &--small {
      font-size: 1.1rem;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 4rem;
      height: 0.1rem;
      background-color: var(--color-primary);
      bottom: -0.5rem;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
