.tabs {
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__container {
    @include respond(tab-land) {
      position: sticky;
      top: 0rem;
      z-index: 100;
      background-color: var(--color-white);
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    cursor: pointer;
    align-items: center;
  }

  &__radio-inner {
    color: var(--color-black);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    line-height: normal;

    &::after {
      content: attr(data-text);
      height: 0;
      display: block;
      visibility: hidden;
      overflow: hidden;
      font-weight: 700;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-inner {
    font-weight: 700;
  }

  &__radio-button {
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border: 1px solid var(--color-black);
    border-radius: 50%;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      background-color: var(--color-black);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
